h1 {
	color:white;
	text-align:center;
	text-shadow: 0px 0px 3px white
}

h3, p {
	color:white;
	text-align:center;
	margin: 0
}

#grey {
	color:grey;
}

body {
	font-family:Consolas, Courier;
	background-color:#1C1C1C;
	color:#A1A1A1;
}

a {
	color: grey;
	text-decoration: none;
}

canvas {
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
}